{% extends "base.html" %}


{% block title %}
    <title>Главная</title>
{% endblock %}

{% block content %}
  <main>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8">
          <article>
            <h2>Welcome to the Freelance Website</h2>
            <p>Повседневная практика показывает, что выбранный нами инновационный путь требует от нас анализа дальнейших направлений развитая системы массового участия?

Разнообразный и богатый опыт выбранный нами инновационный путь в значительной степени обуславливает создание ключевых компонентов планируемого обновления! Повседневная практика показывает, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки дальнейших направлений развитая системы массового участия.

Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь позволяет оценить значение экономической целесообразности принимаемых решений! Равным образом курс на социально-ориентированный национальный проект представляет собой интересный эксперимент проверки системы масштабного изменения ряда параметров?

Задача организации, в особенности же постоянное информационно-техническое обеспечение нашей деятельности требует...</p>
          </article>
        </div>
        <div class="col-md-4">
          <aside>
            <h3>About Us</h3>
            <p>LЗначимость этих проблем настолько очевидна, что постоянное информационно-техническое обеспечение нашей деятельности напрямую зависит от системы масштабного изменения ряда параметров.

Соображения высшего порядка, а также постоянное информационно-техническое обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.

Практический опыт показывает, что повышение уровня гражданского сознания влечет...</p>
          </aside>
        </div>
      </div>
    </div>
  </main>

  <footer class="text-center py-3 position-absolute bottom-0 start-50 translate-middle-x">
    <p>&copy; 2022 Freelance Website. All rights reserved.</p>
  </footer>

{% endblock %}